{# src/Blog/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'MainPageBundle::layout.html.twig' %}
{% block title %}Welcome -> pk-dev.pl{% endblock %}
{% block body %}
<article class="main-page article">
  <span class="title">Welcome on my page</span>
  <div class="content">Lorem ipsum dolor sit ame</div>
</article>
{% endblock %}