html,body,div,a,span,ul,li,p{list-style: none;list-style-type: none; margin:0px;padding:0px;}

p{
  margin:5px 0px;
}



ul#item-list{
  margin:0px auto;
}

ul#item-list li{
  display:block;
  float:left;
  width:280px;
  height:100px;
  margin:5px;
  padding:10px;
  border:1px solid #333;
}


div.item-image{
  float:left;
  margin-right:10px;
}
span.item-title{
  display:block;
  font-size:16px;
  font-weight:bold;
}


