html,body,div,a,a:hover,a:active,a:visited,span,ul,li,p{
  font-size:12px;
  font-family: sans-serif, Verdana, Arial, Georgia;
  color: #000;
  text-decoration:none;
  list-style: none;list-style-type: none; margin:0px;padding:0px;}

p{
  margin:5px 0px;
}

div.clear{
  clear:both;
  height:0px;
}

nav#menu{
  width:1000px;
  margin:0px auto;
}

nav#menu ul li{
  display:block;
  width:auto;
  float:left;
  margin:10px 20px 10px 0px;
  text-align:center;
}

nav#menu ul li a{
  display:block;
  font-size:14px;
}

article.main-page.article{
  width:1000px;
  margin:10px auto;
}

ul#item-list{
  margin:0px auto;
}

ul#item-list li{
  display:block;
  float:left;
  width:280px;
  height:100px;
  margin:5px;
  padding:10px;
  border:1px solid #333;
}

div.item-image{
  float:left;
  margin-right:10px;
}
span.item-title{
  display:block;
  font-size:16px;
  font-weight:bold;
}

article.blog{
  width:1000px;
  margin:10px auto;
}

article.blog img.large{
  max-width:400px;
  max-height:250px;
  float:left;
  margin-right:10px;
  padding:1px;
  border:1px solid #333;
}


